{% form_theme form 'AppBundle:Form:fields.html.twig' %}

{{ form_start(form) }}

{% for child in form.children %}
    {{ form_row(child) }}
{% endfor %}

<button class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}