<div class="col-md-offset-2 col-md-6">
    <h2>Horaires et tarifs</h2>

    <p>
        Tous les jours de 8h à 19h. <br/>
        Entrez, installez-vous et nous passerons vous voir.
    </p>

    <ul>
        <li>10€ la journée</li>
        <li>20€ les 24h</li>
        <li>Gratuit pour les moins de 12 ans</li>
    </ul>

    <i>Une entrée est limité à 2 cannes, puis 2€ par cannes supplémentaires.</i>
    <br/>
    <br/>

    <label>Nous contacter au :</label>
    <ul>
        <li>06.50.34.13.43</li>
        <li>06.62.66.87.17</li>
    </ul>

    <label>Par mail :</label>
    etant.jolysable@gmail.com
</div>

<div class="col-md-4">
    <h2>Plan d'accès</h2>

    <p>
        Lieu dit : Jolysable<br/>
        14 rue des fontaines<br/>
        17800 Pons<br/>
        (Derrière le Leclerc de Pons)
    </p>

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvEYmhRsRVGqoYXKcQCO7ElImrgae_t1Y'></script>

    <div style='overflow:hidden;height:350px;width:400px;'>
        <div id='gmap_canvas' style='height:350px;width:400px;'></div>
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
    </div>

    <script type='text/javascript'>function init_map() {
            var myOptions = {
                zoom:12,center:new google.maps.LatLng(45.5819176,-0.5597321000000193),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(45.5819176,-0.5597321000000193)});
            infowindow = new google.maps.InfoWindow({
                content:'<strong style="color: #000">Jolysable</strong><br>' +
                '<strong style="color: #000">14 rue des fontaines, Pons</strong><br>'});
            google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);
        } google.maps.event.addDomListener(window, 'load', init_map);
    </script>
</div>