<div class="col-md-offset-2 col-md-6">
    <h2>Horaires et tarifs</h2>

    <p>
        Tous les jours de 8h à 19h. <br/>
        Entrez, installez-vous et nous passerons vous voir.
    </p>

    <ul>
        <li>10€ la journée</li>
        <li>20€ les 24h</li>
        <li>Gratuit pour les moins de 12 ans</li>
    </ul>

    <i>Une entrée est limité à 2 cannes, puis 2€ par cannes supplémentaires.</i>
    <br/>
    <br/>

    <label>Nous contacter au :</label>
    <ul>
        <li>06.50.34.13.43</li>
        <li>06.62.66.87.17</li>
    </ul>

    <label>Par mail :</label>
    etant.jolysable@gmail.com
</div>

<div class="col-md-4">
    <h2>Plan d'accès</h2>

    <p>
        Lieu dit : Jolysable<br/>
        14 rue des fontaines<br/>
        17800 Pons<br/>
        (Derrière le Leclerc de Pons)
    </p>
</div>