<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Jolysable{% endblock %}</title>

    {% stylesheets filter="scssphp" output="css/app.css"
    "assets/sass/*.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/Logo-mobile.png') }}">
</head>
<body>
{% block body %}{% endblock %}

{% javascripts filter="?jsqueeze" output="js/app.js"
"assets/vendor/jquery/dist/jquery.min.js"
"assets/vendor/jquery-ui/jquery-ui.min.js"
"assets/vendor/bootstrap/dist/js/bootstrap.min.js"

"assets/js/main.js" %}
<script src="{{ asset_url }}"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81903258-1', 'auto');
    ga('send', 'pageview');

</script>
{% endjavascripts %}
</body>
</html>
