@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "vars";

body {
  color: #fff;
  font-family: 'Roboto-Regular', sans-serif;
}

h2,
h1 {
  color: $primary-color;
}

button.home {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: $primary-color;
  padding: 15px 25px;
}

.fullscreen-bg__video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  transform: scale(1.2);
}

#main-row {
  position: absolute;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  z-index: 100;

  .main-title {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
  }
}

.filter {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, .55);
  padding-bottom: 200px;
}

.logo-center {
  display: block;
  margin: 40% auto 3% auto;
  background-color: rgba(0, 0, 0, .5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#room-location {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#fishing {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 120%;
  background: url("/assets/images/Background.png") center no-repeat;

  label {
    font-size: 110%;
    text-decoration: underline;
  }
}

.thumb.thumbnail .caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
}

.thumbnail {
  width: 500px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
  border: none;
}

.thumb.thumbnail .caption h3 {
  color: #ffffff;
}

.thumb.thumbnail li:hover .caption {
  -moz-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}

.thumb figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}

.thumb-modal figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}
.thumb figcaption h3 {
  color: #ffffff;
  display: table-cell;
  font-size: 2em;
  position: relative;
  top: -40px;
  width: 340px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}

.thumb li:hover figcaption h3 {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.thumb li.color {
  border: 5px solid rgb(20, 52, 73);
  display: inline-block;
}

.thumb li {
  display: inline-block;
}

.thumb li:hover figcaption {
  opacity: 1;
}
.thumb img {
  display: block;
  width: 500px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
}
.thumb figure {
  height: 350px;
  overflow: hidden;
  position: relative;
}

.thumb li:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}

.center-wrapper {
  margin-top: 10%;

  .text-bordered {
    position: relative;
    border: 1px solid #fff;
    padding: 15px;
  }
}

@media (max-width: 1200px) {
  .thumbnail {
    width: 250px;
  }

  .thumb img {
    width: 250px;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg__video {
    display: none;
  }
}