@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "vars";

html {
  background-color: $light-background-color;
  height: 100%;
}

body {
  color: $text-color;
  background-color: $background-color;
  font-family: 'Roboto-Regular', sans-serif;
  min-height: 100%;
}

#map {
  margin-top: 50px;
  width: 600px;
  height: 400px;
}

.btn {
  display: block;
  border-radius: 0;
  font-family: 'Arimo-Regular', sans-serif;
  font-size: 21px;
  padding: 3px 25px;

  &.btn-primary {
    color: #fff;
    background-color: #80BD9E;
    border-color: #80BD9E;
  }
}

form {
  textarea,
  input {
    font-family: 'Segoe UI Light', sans-serif;
    display: block;
    border: 2px solid #9A9EAB;
    padding: 8px 15px;
    width: 80%;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
  }
}

ul {
  padding: 0;

  &.errors {
    li {
      font-size: 16px;
      color: #A0000E;
    }
  }

  li {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 21px;
    list-style: none;
  }
}

h3,
h2,
h1 {
  font-family: "Segoe UI Semilight", sans-serif;
  color: $text-color;

  &.margin-top {
    margin-top: 70px;
  }
}

p {
  color: $text-color;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 21px;
}

i {
  font-size: 17px;
  color: rgba(0, 0, 0, .6);
}

hr {
  width: 10%;
  border-top: 2px solid $theme-color;

  &.height-sup {
    width: 30%;
    margin-left: 0;
  }
}

.navbar-inverse {
  background-color: $light-background-color;
  @include box-shadow(0, 3px, 6px, rgba(0,0,0,.2));
  padding: 10px 150px 10px 40px;
  border: none;

  .navbar-brand {
    font-family: "Allura-Regular", sans-serif;
    font-size: 53px;
    color: $theme-color;

    &:hover {
      color: $theme-color;
    }
  }

  .navbar-nav {
    li {
      margin-right: 17px;

      a {
        font-family: "Arimo-Regular", sans-serif;
        font-size: 17px;
        color: $text-color;
        height: 17px;
        letter-spacing: 0;

        &.active,
        &:hover {
          font-family: "Arimo-Bold", sans-serif;
          color: $text-color;
        }
      }
    }
  }
}

.banner-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 45rem 0 2.5rem;
  background-image: url("/assets/images/etang/exterieur.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 75vh;

  .banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 50vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h1 {
      display: block;
      font-family: "Barlow-SemiBold", sans-serif;
      letter-spacing: -2.36px;
      font-size: 40px;
      color: $light-background-color;
      margin: 0;
      font-weight: 700;
    }

    p {
      font-family: "Barlow-Italic", sans-serif;
      letter-spacing: -0.94px;
      font-size: 16px;
      color: $light-background-color;
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

.description {
  padding-top: 50px;

  .description-label {
    p {
      font-family: "Segoe UI Italic", sans-serif;
      font-size: 27px;
      margin: 10px 60px;
      padding: 0 10px 10px 0;
      border-bottom: 1px solid $theme-color;
    }
  }

  .description-text {
    p {
      padding: 0 70px 0 20px;
    }

    p:first-child {
      margin-bottom: 35px;
    }
  }
}

#main {
  padding: 0;
  margin-top: 70px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

// Rooms

.rooms {
  background-color: $light-background-color;
}

.page-title {
  display: inline-block;
  margin-top: 50px;
  font-family: "Segoe UI", sans-serif;
  font-size: 21px;
  color: $text-color;
  border-left: 2px solid $theme-color;
  padding: 2px 15px;

  &.large {
    border-left: none;
    border-bottom: 2px solid $theme-color;
    font-family: "Segoe UI Italic", sans-serif;
    font-size: 27px;
    padding: 2px 15px 15px 0;
  }
}

.room-block {
  padding: 25px 0;
  border-bottom: 0.5px dashed $dark-background-color;
}

.room-summary {
  font-family: "Segoe UI Bold", sans-serif;

  h3 {
    color: $theme-color;
    font-size: 22px;
    margin-bottom: 17px;
  }

  h4 {
    color: $text-color;
    font-size: 22px;
    margin-bottom: 17px;
  }

  .room-description,
  .room-equipment {
    font-family: "Segoe UI", sans-serif;
    color: $text-color;
    font-size: 22px;

    br {
      display: block;
      margin: 10px 0;
      content: " ";
    }
  }
}

.room-price {
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 26px;
  color: $text-color;
}

// Fishing

.fishing {
  background-color: $background-color;
}

.fishing-block {
  margin-top: 25px;
  text-align: center;

  h2 {
    margin-top: 70px;
  }

  p {
    padding: 0;

    &:first-child {
      padding-top: 25px;
      margin-bottom: 25px;
    }
  }
}

// Contact

.contact {
  background-color: $light-background-color;
  margin-bottom: 50px;
}

.contact-block {
  margin-top: 20px;

  ul {
    flex: 2 0 0;
    margin: auto 0;
  }

  h4 {
    font-family: "Segoe UI", sans-serif;
    font-size: 21px;
    margin-bottom: 25px;

    &.form-label {
      margin-top: 50px;
    }
  }

  .col-md-5:first-child {
    border-right: 1px dashed $text-color;
  }

  .icon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    .image {
      flex: .5 0 0;

      img {
        vertical-align: top;
        max-width: 100%;
        max-height: 300px;
      }
    }

    ul {
      li {
        font-size: 18px;
      }
    }

    p {
      flex: 2 0 0;
      margin: auto 0;
      font-size: 18px;
    }
  }

  .address {
    padding-left: 50px;

    ul {
      line-height: 35px;
    }
  }
}
