{% extends '::admin.html.twig' %}

{% block body %}
    {% include '@App/Form/form_default.html.twig' %}

    <div class="row room-images">
        <h2>Images :</h2>

        {% for image in room.images %}
            <div class="col-md-4">
                <img width="100%" src="{{ asset('uploads/rooms/' ~ image.name) }}" alt="{{ image.name }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
