{% extends '::base.html.twig' %}

{% block body %}
    <div id="main-row">
        <h1 class="main-title">Jolysable</h1>

        <p align="center" class="jolysable-desc">
            Idéalement situé entre Royan, Cognac et Bordeaux, nos chambres vous apporteront le calme d'un coin
            de nature au bord d'un étang de pêche. <br/>
            Nous disposons de 5 chambres allant de 60 à 90€, toutes avec télé, wifi et plateau de complaisance.
        </p>
    </div>

    <div id="bottom-page" class="row">
        <div class="col-md-6">
            <div class="thumb thumbnail">
                <figure>
                    <img src="{{ asset("assets/images/Exterieur.jpg") }}"
                         class="lazy" title="section gîte" width="100%">
                    <figcaption class="text-center">
                        <h3 data-value="room-location">
                            <span><a href="{{ path('rooms') }}">Nos chambres</a></span>
                        </h3>
                    </figcaption>
                    <div class="caption">
                        <a href="#">
                            <h3 align="center">Chambres</h3>
                        </a>
                    </div>
                </figure>
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumb thumbnail">
                <figure>
                    <img src="{{ asset("assets/images/Exterieur-etang.jpg") }}"
                         class="lazy" title="section pêche">
                    <figcaption class="text-center">
                        <h3 data-value="fishing">
                            <span><a href="{{ path('fishing') }}">Notre étang</a></span>
                        </h3>
                    </figcaption>
                    <div class="caption">
                        <a href="#">
                            <h3 align="center">Pêche</h3>
                        </a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}