{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <video loop="loop" muted="muted" autoplay="autoplay" class="fullscreen-bg__video">
                <source src="{{ asset("assets/images/gitePons.mp4") }}" type="video/mp4">
            </video>
            <div id="main-row">
                <h1 class="main-title">Etang Jolysable</h1>

                <div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-5">
                    <div class="thumb thumbnail">
                        <li>
                            <figure>
                                <img src="" height="100%"
                                     class="lazy" title="section gîte">
                                <figcaption class="text-center">
                                    <h3 data-value="room-location">
                                        <span>Nos chambres</span>
                                    </h3>
                                </figcaption>
                                <div class="caption">
                                    <a href="#">
                                        <h3>Partie gîte</h3>
                                    </a>
                                </div>
                            </figure>
                        </li>
                    </div>
                </div>
                <div class="col-sm-8 col-md-5">
                    <div class="thumb thumbnail">
                        <li>
                            <figure>
                                <img src="" height="100%"
                                     class="lazy" title="section pêche">
                                <figcaption class="text-center">
                                    <h3 data-value="fishing">
                                        <span>Notre étang</span>
                                    </h3>
                                </figcaption>
                                <div class="caption">
                                    <a href="#">
                                        <h3>Partie pêche</h3>
                                    </a>
                                </div>
                            </figure>
                        </li>
                    </div>
                </div>
            </div>

            <!-- Partie gîte -->
            <div id="room-location">
                <button class="btn btn-primary home" data-value="room-location">Retour à l'accueil</button>
            </div>

            <!-- Partie pêche -->
            <div id="fishing">
                <div class="filter">
                    <button class="btn btn-primary home" data-value="fishing">Retour à l'accueil</button>

                    <div class="center-wrapper">
                        {% include "AppBundle:Front:informations.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}