{% extends '::base.html.twig' %}

{% block body %}
    <div id="fishing" class="row">
        <div class="filter">
            <div class="col-md-12">
                <img src="{{ asset("assets/images/Logo-desktop.png") }}" class="logo-center">

                <div class="col-md-offset-4 col-md-4">
                    <div align="center" class="text-bordered">
                        Les lâcher des truites reprennent à partir du mois de mars 2019 tous les samedi. 10€ la canne !
                    </div>
                </div>
            </div>

            <div class="col-md-12 informations-block">
                <div class="row text-center">
                    <h2>Horaires et tarifs</h2>
                    <hr>

                    <p>
                        Tous les jours de 8h à 19h. <br/>
                        Entrez, installez-vous et nous passerons vous voir.
                    </p>

                    <br>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="info-wrapper">

                        </div>
                        <h3 class="text-center width-max">Tarifs</h3>
                        <ul>
                            <li>10€ la journée</li>
                            <li>20€ les 24h</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3 class="text-center width-max">Poissons</h3>
                        <ul>
                            <li>Carpes, Esturgeons et Tanches <b>en no kill</b></li>
                            <li>Gardons, Gougeons, Anguilles, Brochets... peuvent être pris</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3 class="text-center width-max">Nous contacter</h3>
                        <ul>
                            <li>06.50.34.13.43</li>
                            <li>06.62.66.87.17</li>
                            <li>stein.claire24@gmail.com</li>
                        </ul>
                    </div>

                    <div class="col-md-2">

                    </div>
                </div>
            </div>

            <div class="col-md-12 informations-block background-none">
                <div class="row text-center">
                    <h2>Plan d'accès</h2>
                    <hr>

                    <p>
                        Lieu dit : Jolysable<br/>
                        14 rue des fontaines<br/>
                        17800 Pons<br/>
                        (Derrière le Leclerc de Pons)
                    </p>

                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
