<h1 align="center">Nos chambres</h1>

<p align="center" class="jolysable-desc">
    Pour réserver, appelez-nous au 06.62.66.87.17 ou par mail : stein.claire24@gmail.com <br />
    Ou passer par <a target="_blank" href="http://www.booking.com/hotel/fr/jolysable.html">Booking.com</a>
</p>

<div class="col-md-6">
    <div class="thumb thumbnail">
        <li>
            <figure>
                <img src="{{ asset("assets/images/50-1.jpg") }}"
                     class="lazy" title="section gîte">
                <figcaption class="text-center">
                    <h3>
                        <a target="_blank" href="http://www.booking.com/hotel/fr/jolysable.html">
                            <span>Chambre Double</span>
                        </a>
                    </h3>
                </figcaption>
                <div class="caption">
                    <a href="#">
                        <h3 align="center">Chambre à 52€</h3>
                    </a>
                </div>
            </figure>
        </li>
    </div>
</div>
<div class="col-md-6">
    <div class="thumb thumbnail">
        <li>
            <figure>
                <img src="{{ asset("assets/images/55-1.jpg") }}"
                     class="lazy" title="section gîte">
                <figcaption class="text-center">
                    <h3>
                        <a target="_blank" href="http://www.booking.com/hotel/fr/jolysable.html">
                            <span>Chambre Double ou lits jumeaux</span>
                        </a>
                    </h3>
                </figcaption>
                <div class="caption">
                    <a href="#">
                        <h3 align="center">Chambre à 55€</h3>
                    </a>
                </div>
            </figure>
        </li>
    </div>
</div>

<div class="col-md-6">
    <div class="thumb thumbnail">
        <li>
            <figure>
                <img src="{{ asset("assets/images/80-1.jpg") }}"
                     class="lazy" title="section gîte">
                <figcaption class="text-center">
                    <h3>
                        <a target="_blank" href="http://www.booking.com/hotel/fr/jolysable.html">
                            <span>Chambre Double avec vue sur jardin</span>
                        </a>
                    </h3>
                </figcaption>
                <div class="caption">
                    <a href="#">
                        <h3 align="center">Chambre à 70€</h3>
                    </a>
                </div>
            </figure>
        </li>
    </div>
</div>
<div class="col-md-6">
    <div class="thumb thumbnail">
        <li>
            <figure>
                <img src="{{ asset("assets/images/100-1.jpg") }}"
                     class="lazy" title="section gîte">
                <figcaption class="text-center">
                    <h3>
                        <span>
                            <a target="_blank" href="http://www.booking.com/hotel/fr/jolysable.html">
                               Chambre Double vue sur lac
                            </a>
                        </span>
                    </h3>
                </figcaption>
                <div class="caption">
                    <a href="#">
                        <h3 align="center">Chambre à 98€</h3>
                    </a>
                </div>
            </figure>
        </li>
    </div>
</div>